    .caixinha {
        width: 400px;
        height: 400px;
        border: 1px solid;
    }
    p {
        padding: 40%;
    }

    .paginação a {
        font-size: 20px;
        color: blue;
        float: left;
        padding: 6px 12px;
        transition: background-color .4s;   
    }
    .paginação a:visited {
        font-size: 30px;
        color: rgb(136, 22, 2);
        
    }
    .paginação a:hover {
        font-size: 32px;
        color: orangered;
        background-color: blue;
        transition: 0.4s;
    }